@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-python/preset.css";

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

.prose
  :where(a:not([data-card]):has(> code:only-child)):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ) {
  text-decoration-thickness: 1px;
  text-decoration-color: color-mix(in oklab, var(--color-fd-primary) 72%, transparent);
}
